<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="index.css">

    <title>ARM</title>
</head>
<body>
    <!-- #nav1 -->
    <nav class="navbar navbar-expand-lg" style="background-color: white;">
        <div class="container">
            <a href="">
                <img src="images/logo.png" alt="" style="height: 40px;" id="logo">
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <form action="" class="d-flex justify-content-center" role="search" style="width: 600px;">
                        <!-- <i id="slogo"  class="  fa-solid fa-magnifying-glass" aria-hidden="false"></i> -->
                        <input type="search" class="form-control me-1 " placeholder="search for movies,events,plays,sports and activity">
                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">location</a>
                <ul class="dropdown-menu" style="width: 40vw;">

                </ul>
            </div>
            <button id="login" class="btn btn-danger" type="submit">sign in</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- nav2 -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(220, 218, 218);">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">stream</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">events</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">plays</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">sports</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">activities</a>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto ">
                    <li class="nav-item">
                        <a href="" class="nav-link">listYourShow</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Corporates</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Gift Cards</a>
                    </li>
                </ul>
        </div>
    </nav>

    <!-- body -->
    <div class="main">
        <img src="images/arm_cover.jpg" alt="" style="width: 100%;">
        <div class="poster-card">
            <div class="img-box">
                <img src="images/arm-card.avif" alt="">
                <p><span id="star">★</span>8.7/10 56.9K Votes</p>
            </div>
        </div>
        <div class="dtls">
            <div class="title">
                <h3>
                    A.R.M
                </h3>
                <div class="rating">
                    <p><b><span id="star">★</span>8.7/10 (56.9K Votes)</b></p>
                    <div id="ratenow">
                    <a href="" class="btn btn-light" id="contact">Rate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" sample container p-5">
        <h3><b>About the movie</b></h3>
        <span>Set in Northern Kerala across the years 1900, 1950, and 1990, this epic tale follows three generations of heroes Maniyan,</span>
        <span>Kunjikelu, and Ajayan as they strive to protect the land's most vital treasure.</span>
    </div>
    <hr>

    <div id="demo" class="carousel slide container" data-bs-ride="false">
        <h4><b>Cast</b></h4>

        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="d-flex gap-2">
                    <div>
                        <img src="images/tovino-thomas-37628-25-07-2018-06-42-03.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Tovino Thomas</figcaption> 
                    </div>
                    <div>
                        <img src="images/krithi-shetty-2014897-1722754117.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Krithi</figcaption>
                    </div>
                    <div>
                        <img src="images/aishwarya-rajesh-1048096-1680242348.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                            <figcaption style="text-align: center;">Aiswarya</figcaption>
                    </div> 
                    <div>
                        <img src="images/surabhi-lakshmi-1055516-24-03-2017-17-46-12.avif" class=" d-inline rounded-circle" style="width:165px;" alt=""> 
                        <figcaption style="text-align: center;">Surabhi</figcaption>
                    </div>
                    <div>
                        <img src="images/basil-joseph-1048710-1700138793.jpg" class=" d-inline rounded-circle" style="width:165px;" alt="">
                            <figcaption style="text-align: center;">Basil</figcaption>
                    </div>
                    <div> 
                        <img src="images/harish-uthaman-1051522-1680323024.jpg" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Harish</figcaption>
                    </div>
                    <div> 
                        <img src="images/madhupal-3276-08-08-2017-18-12-53.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Madhupal</figcaption>
                    </div> 
                </div>
            </div>
        
            <div class="carousel-item ">
                <div class="d-flex gap-2">
                    <div>
                        <img src="images/rohini-molleti-2014608-04-10-2021-07-37-15.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Rohini</figcaption> 
                    </div>
                    <div>
                        <img src="images/t-parvathy-1267972-13-06-2019-12-01-57.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">maala parvathi</figcaption>
                    </div>
                    <div>
                        <img src="images/kabir-duhan-singh-1060607-1663070249.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Kabir</figcaption>
                    </div> 
                    <div>
                        <img src="images/biju-kuttan-1070232-1706592567.avif" class=" d-inline rounded-circle" style="width:165px;" alt=""> 
                        <figcaption style="text-align: center;">biju kuttan</figcaption>
                    </div>
                    <div>
                        <img src="images/sudheesh-2269-1679819209.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Sudheesh</figcaption>
                    </div>
                    <div> 
                        <img src="images/nisthar-sait-1071131-1722754339.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">Nisthar</figcaption>
                    </div>
                    <div> 
                        <img src="images/aju-varghese-30512-18-04-2017-06-18-24.avif" class=" d-inline rounded-circle" style="width:165px;" alt="">
                        <figcaption style="text-align: center;">aju vargese</figcaption>
                    </div>
                </div>   
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
        </div>
    </div>
    <hr>

    <div class="sample container p-5">
        <h3 class="mb-4 container " ><b>Crew</b></h3>
    
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6 g-4">
            <div class="col">
                <img src="images/jithin-laal-2039245-1722753993.avif" class="img-fluid rounded-circle" alt="">
                <figcaption style="text-align: center;">Jithin Laal</figcaption> 
                <figcaption class="text-secondary" style=" text-align: center;">Director</figcaption> 
    
            </div>
            <div class="col">
                <img src="images/listin-stephen-2040140-1725518908.avif" class="img-fluid rounded-circle" alt="">
                <figcaption style="text-align: center;">Listin Stephen</figcaption>
                <figcaption class="text-secondary" style=" text-align: center;">Producer</figcaption> 
            </div>
            <div class="col">
                <img src="images/sujith-nambiar-2039246-1722753926.avif" class="img-fluid rounded-circle" alt="">
                <figcaption style="text-align: center;">Suijith Nambiar</figcaption>
                <figcaption class="text-secondary" style=" text-align: center;">Writer</figcaption> 
            </div> 
            <div class="col">
                <img src="images/dhibu-ninan-thomas-1083368-22-07-2019-07-25-29.avif" class="img-fluid rounded-circle" alt=""> 
                <figcaption style="text-align: center;">Dhibu Ninan</figcaption>
                <figcaption class="text-secondary" style=" text-align: center;">Musician</figcaption> 
            </div>
            <div class="col">
                <img src="images/jomon-t-john-1091752-05-04-2018-03-05-17.avif" class="img-fluid rounded-circle" alt="">
                <figcaption style="text-align: center;">Jomon T</figcaption>
                <figcaption class="text-secondary" style=" text-align: center;">Cinematography</figcaption> 
            </div>
            <div class="col"> 
                <img src="images/shameer-muhammed-1091874-1715751876.avif" class="img-fluid rounded-circle" alt="">
                <figcaption style="text-align: center;">Shameer</figcaption>
                <figcaption class="text-secondary" style=" text-align: center;">Editor</figcaption> 
            </div>
        </div>
    </div>
    <hr class="mx-auto d-block" width="100%">

    <div class="container mt-2 mb-5">
        <h3>Recommended Movies</h3>
        <!-- <a href="#"  class="text-danger text-decoration-none ms-2">28.5K Reviews ></a> -->
        
        <div id="caro2" class="carousel slide" data-bs-ride="false">
            <!-- movies -->
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <a class="text-decoration-none text-black" href="arm.html">
                                <div class="movie-card">
                                    <img src="images/arm.avif" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="title">A.R.M</h5>
                                        <p class="genre">Action/Adventure/Drama</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/kishkinda.avif" alt="" id="posters">
                                <div class="movie-details">
                                    <h5 class="title">Kishkindha Kaandam</h5>
                                    <p class="genre">Mystery/Thriller</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="images/joker.avif" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="movie-title">Joker: Folie a Deux</h5>
                                        <p class="movie-genre">Drama/Suspense/Thriller</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/thekkuvadakku.avif" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Thekku Vadakku</h5>
                                    <p class="movie-genre">Comedy/Drama</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/thekkuvadakku.avif" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Thekku Vadakku</h5>
                                    <p class="movie-genre">Comedy/Drama</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- caro2 -->
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="images/meiyazhakan.avif" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="title">Meiyazhakan</h5>
                                        <p class="genre">comedy/Drama</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/devara.avif" alt="" id="posters">
                                <div class="movie-details">
                                    <h5 class="title">Deavara part-1</h5>
                                    <p class="genre">Action/Thriller/Drama</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="images/pushpaka.avif" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="movie-title">Pushpaka Vimanam</h5>
                                        <p class="movie-genre">Drama/Suspense/Thriller</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/venom.avif" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Venom:The Last Dance</h5>
                                    <p class="movie-genre">Action/Adventure/Sci-Fi</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="movie-card">
                                <img src="images/venom.avif" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Venom:The Last Dance</h5>
                                    <p class="movie-genre">Action/Adventure/Sci-Fi</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- left right icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#caro2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#caro2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer py-5 d-none d-md-block mt-1" style="overflow-y: hidden;">
        <div class="container-fluid">
            <div class="row justify-content-center text-center text-md-start">
                <div class="col-md-10">
                    <p class="text-white">
                    <a href="" class="footer-logo text-white fw-bold text-decoration-none">
                        List your Show &nbsp; &nbsp;
                    </a>
                    Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow
                    <a href="" class="btn btn-danger" id="contact">CONTACT TODAY..!</a>
                    </p>
                </div>
                <div id="row" class="row justify-content-center">
                    <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center ">
                    <i style="font-size: 30px;" class="fa-regular fa-user my-3"></i>
                    <p class="">24/7 Customer Care</p>
                </div>
                <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
                    <i style="font-size: 30px;" class="fa-solid fa-ticket my-3"></i>
                    <p >Resend Booking Confirmation</p>
                </div>
                <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
                    <i style="font-size: 30px;" class="fa-regular fa-envelope my-3"></i>
                    <p >Subscribe to the Newsletter</p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES NOW SHOWING IN KOCHI</h3>
            <P class="items">
                <a href="" id="names">vettaiyan</a> |
                <a href="" id="names">A.R.M</a> |
                <a href="" id="names">Kishkindha Kaandam</a> |
                <a href="" id="names">Venom: The Last Dance</a> | 
                <a href="" id="names">Jocker: Folie a Deux</a> |
                <a href="" id="names">Thekku Vadakku</a> |
                <a href="" id="names">Pushpaka Vimanam</a> |
                <a href="" id="names">Maliyazhagan</a> |
                <a href="" id="names">Oru Kattil oru muri</a> |
            </P> 
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES BY GENRE</h3>
            <p class="items">
                <a id="names" href="">Drama Movies</a> |
                <a id="names" href="">Action Movies</a> |
                <a id="names" href="">Thriller Movies</a> |
                <a id="names" href="">Period Movies</a> |
                <a id="names" href="">Horror Movies</a> |
                <a id="names" href="">Fantasy Movies</a> |
                <a id="names" href="">Suspense Movies</a> |
                <a id="names" href="">Romantic Movies</a> |
                <a id="names" href="">Comady Movies</a> |
            </p>
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES BY LANGUAGE</h3>
            <p class="items">
                <a id="names" href="">Movies in English</a> |
                <a id="names" href="">Movies in Malayalam</a> |
                <a id="names" href="">Movies in Tamil</a> |
                <a id="names" href="">Movies in Kannada</a> |
                <a id="names" href="">Movies in telugu</a> |
                <a id="names" href="">Movies in Hindi</a> |
                <a id="names" href="">Movies in sindihi</a> |
                <a id="names" href="">Movies in bengali</a> |
                <a id="names" href="">Movies in marathi</a> |
            </p>
        </div>
        <div class="container mt-5">
            <h3 class="head">SPORTS EVENTS IN KOCHI</h3>
            <p class="items">
                <a id="names" href="">Running</a> |
                <a id="names" href="">Kabaddi</a> |
                <a id="names" href="">Athletics</a> |
                <a id="names" href="">Motorsports</a> |
                <a id="names" href="">Card Games</a> |
                <a id="names" href="">Hockey</a> |
                <a id="names" href="">Rugby</a> |
                <a id="names" href="">Boxing</a> |
                <a id="names" href="">Pool</a> |
            </p>
        </div>

        
    </footer>
</body>
</html>