<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>bookmyshow</title>
</head>
<body>
    <!-- #nav1 -->
    <nav class="navbar navbar-expand-lg" style="background-color: white;">
        <div class="container">
            <a href="">
                <img src="{% static 'images/logo.png' %}" alt="" style="height: 40px;" id="logo">
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <form action="" class="d-flex justify-content-center" role="search" style="width: 600px;">
                        <!-- <i id="slogo"  class="  fa-solid fa-magnifying-glass" aria-hidden="false"></i> -->
                        <input type="search" class="form-control me-1 " placeholder="search for movies,events,plays,sports and activity">
                    </form>
                </li>
            </ul>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">location</a>
                <ul class="dropdown-menu" style="width: 40vw;">

                </ul>
            </div>
            <button id="login" class="btn btn-danger" type="submit">sign in</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- nav2 -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(220, 218, 218);">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">stream</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">events</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">plays</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">sports</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">activities</a>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto ">
                    <li class="nav-item">
                        <a href="" class="nav-link">listYourShow</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Corporates</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Gift Cards</a>
                    </li>
                </ul>
        </div>
    </nav>
<!-- body -->
<!-- carousel -->
    <div class="carousel slide mt-1" data-bs-ride="carousel" id="caro">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="{% static 'images/lollapaloozaindia2025web.avif' %}" alt="" style="width: 100%;">
            </div>
            <div class="carousel-item active">
                <img src="{% static 'images/card.avif' %}" alt="" style="width: 100%;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/year_of_legends.avif' %}" alt="" style="width: 100%;">
            </div>
        </div>
        <!-- icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#caro" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#caro" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
<!-- movies -->
    <div class="container mt-2 ">
        <h3>Recommended Movies</h3>
        <!-- <a href="#"  class="text-danger text-decoration-none ms-2">28.5K Reviews ></a> -->
        
        <div id="caro2" class="carousel slide" data-bs-ride="false">
            <!-- movies -->
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <a class="text-decoration-none text-black" href="arm.html">
                                <div class="movie-card">
                                    <img src="{% static 'images/arm.avif' %}" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="title">A.R.M</h5>
                                        <p class="genre">Action/Adventure/Drama</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/kishkinda.avif' %}" alt="" id="posters">
                                <div class="movie-details">
                                    <h5 class="title">Kishkindha Kaandam</h5>
                                    <p class="genre">Mystery/Thriller</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="{% static 'images/joker.avif' %}" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="movie-title">Joker: Folie a Deux</h5>
                                        <p class="movie-genre">Drama/Suspense/Thriller</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/thekkuvadakku.avif' %}" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Thekku Vadakku</h5>
                                    <p class="movie-genre">Comedy/Drama</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/thekkuvadakku.avif' %}" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Thekku Vadakku</h5>
                                    <p class="movie-genre">Comedy/Drama</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- caro2 -->
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="{% static 'images/meiyazhakan.avif' %}" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="title">Meiyazhakan</h5>
                                        <p class="genre">comedy/Drama</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/devara.avif' %}" alt="" id="posters">
                                <div class="movie-details">
                                    <h5 class="title">Deavara part-1</h5>
                                    <p class="genre">Action/Thriller/Drama</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                                <div class="movie-card">
                                    <img src="{% static 'images/pushpaka.avif' %}" alt="" id="posters">
                                    <div class="movie-details ">
                                        <h5 class="movie-title">Pushpaka Vimanam</h5>
                                        <p class="movie-genre">Drama/Suspense/Thriller</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/venom.avif' %}" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Venom:The Last Dance</h5>
                                    <p class="movie-genre">Action/Adventure/Sci-Fi</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="movie-card">
                                <img src="{% static 'images/venom.avif' %}" alt="Thekku Vadakku"  id="posters">
                                <div class="movie-details">
                                    <h5 class="movie-title">Venom:The Last Dance</h5>
                                    <p class="movie-genre">Action/Adventure/Sci-Fi</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- left right icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#caro2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#caro2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <!-- stream -->
    <div class="container stream-canvas mt-5 mb-5">
        <div class="stream">
            <img src="{% static 'images/stream-leadin-web-collection-.avif' %}" alt="" id="stream">
        </div>
    </div>

    <div class="container mt-3 mb-3 live-events">
        <h3>Live Events</h3>
        <div class="events">
            <div class="card">
                <a href=""><img src="{% static 'images/amusement-park-collection-202404190106.avif' %}" alt="" class="card-img-top"></a>
            </div>

            <div class="card">
                <a href=""><img src="{% static 'images/workshop-and-more-web-collection-202211140440.avif' %}" alt="" class="card-img-top"></a>
            </div>

            <div class="card">
                <a href=""><img src="{% static 'images/kids-collection-202404190106.avif' %}" alt="" class="card-img-top"></a>
            </div>

            <div class="card">
                <a href=""><img src="{% static 'images/comedy-shows-collection-202211140440.avif' %}" alt="" class="card-img-top"></a>
            </div>

            <div class="card">
                <a href=""><img src="{% static 'images/music-shows-collection-202211140440.avif' %}" alt="" class="card-img-top"></a>
            </div>
        </div>
    </div>

    <!-- premier -->
    <div class="premier">
        <div class="container mt-2">
            <a href=""><img src="{% static 'images/premiere-banner.avif' %}" alt="" class="banner"></a>
        </div>

        <div id="caro2" class="container carousel slide" data-bs-ride="false">
            <div class="carousel-item premier-ca">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                            <div class="premier-card">
                                <img src="{% static 'images/meiyazhakan.avif' %}" alt="" id="posters">
                                <div class="movie-details ">
                                    <h5 class="title">Meiyazhakan</h5>
                                    <p class="genre">comedy/Drama</p>
                                </div>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-md-3">
                        <div class="premier-card">
                            <img src="{% static 'images/devara.avif' %}" alt="" id="posters">
                            <div class="movie-details">
                                <h5 class="title">Deavara part-1</h5>
                                <p class="genre">Action/Thriller/Drama</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-3">
                            <div class="premier-card">
                                <img src="{% static 'images/pushpaka.avif' %}" alt="" id="posters">
                                <div class="movie-details ">
                                    <h5 class="movie-title">Pushpaka Vimanam</h5>
                                    <p class="movie-genre">Drama/Suspense/Thriller</p>
                                </div>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-md-3">
                        <div class="premier-card">
                            <img src="{% static 'images/venom.avif' %}" alt="Thekku Vadakku"  id="posters">
                            <div class="movie-details">
                                <h5 class="movie-title">Venom:The Last Dance</h5>
                                <p class="movie-genre">Action/Adventure/Sci-Fi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- left right icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#caro2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#caro2" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer py-5 d-none d-md-block mt-1" style="overflow-y: hidden;">
        <div class="container-fluid">
            <div class="row justify-content-center text-center text-md-start">
                <div class="col-md-10">
                    <p class="text-white">
                    <a href="" class="footer-logo text-white fw-bold text-decoration-none">
                        List your Show &nbsp; &nbsp;
                    </a>
                    Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow
                    <a href="" class="btn btn-danger" id="contact">CONTACT TODAY..!</a>
                    </p>
                </div>
                <div id="row" class="row justify-content-center">
                    <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center ">
                    <i style="font-size: 30px;" class="fa-regular fa-user my-3"></i>
                    <p class="">24/7 Customer Care</p>
                </div>
                <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
                    <i style="font-size: 30px;" class="fa-solid fa-ticket my-3"></i>
                    <p >Resend Booking Confirmation</p>
                </div>
                <div class="icon-box col-12 col-md-4 col-lg-3 mb-3 text-center">
                    <i style="font-size: 30px;" class="fa-regular fa-envelope my-3"></i>
                    <p >Subscribe to the Newsletter</p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES NOW SHOWING IN KOCHI</h3>
            <P class="items">
                <a href="" id="names">vettaiyan</a> |
                <a href="" id="names">A.R.M</a> |
                <a href="" id="names">Kishkindha Kaandam</a> |
                <a href="" id="names">Venom: The Last Dance</a> | 
                <a href="" id="names">Jocker: Folie a Deux</a> |
                <a href="" id="names">Thekku Vadakku</a> |
                <a href="" id="names">Pushpaka Vimanam</a> |
                <a href="" id="names">Maliyazhagan</a> |
                <a href="" id="names">Oru Kattil oru muri</a> |
            </P> 
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES BY GENRE</h3>
            <p class="items">
                <a id="text1" href="">Drama Movies</a> |
                <a id="names" href="">Action Movies</a> |
                <a id="names" href="">Thriller Movies</a> |
                <a id="names" href="">Period Movies</a> |
                <a id="names" href="">Horror Movies</a> |
                <a id="names" href="">Fantasy Movies</a> |
                <a id="names" href="">Suspense Movies</a> |
                <a id="names" href="">Romantic Movies</a> |
                <a id="names" href="">Comady Movies</a> |
            </p>
        </div>
        <div class="container mt-5">
            <h3 class="head">MOVIES BY LANGUAGE</h3>
            <p class="items">
                <a id="text1" href="">Movies in English</a> |
                <a id="names" href="">Movies in Malayalam</a> |
                <a id="names" href="">Movies in Tamil</a> |
                <a id="names" href="">Movies in Kannada</a> |
                <a id="names" href="">Movies in telugu</a> |
                <a id="names" href="">Movies in Hindi</a> |
                <a id="names" href="">Movies in sindihi</a> |
                <a id="names" href="">Movies in bengali</a> |
                <a id="names" href="">Movies in marathi</a> |
            </p>
        </div>
        <div class="container mt-5">
            <h3 class="head">SPORTS EVENTS IN KOCHI</h3>
            <p class="items">
                <a id="text1" href="">Running</a> |
                <a id="names" href="">Kabaddi</a> |
                <a id="names" href="">Athletics</a> |
                <a id="names" href="">Motorsports</a> |
                <a id="names" href="">Card Games</a> |
                <a id="names" href="">Hockey</a> |
                <a id="names" href="">Rugby</a> |
                <a id="names" href="">Boxing</a> |
                <a id="names" href="">Pool</a> |
            </p>
        </div>

        
    </footer>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>