<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <form action="add_std" method="post">
        {% csrf_token %}
        <label>roll no</label><br>
        <input type="number" placeholder="roll no" name="roll"><br>
        <label>Name</label><br>
        <input type="text" class="input" placeholder="Enter your Name" name="name"><br>
        <label>Age</label><br>
        <input type="number" class="input" placeholder="Enter your Age" name="age"><br>
        <label>Email</label><br>
        <input type="email" class="input" placeholder="Enter your email" name="email"><br>
        <label>Phone Number</label><br>
        <input type="tel" class="input" placeholder="Enter your Mobile Number" name="phno"><br>
        <br>
        <input class="btn" type="submit" value="Submit">
    </form>

    <table>
        <tr>
            <th>roll_no</th>
            <th>name</th>
            <th>age</th>
            <th>email</th>
            <th>phn_no</th>
        </tr>
        {% for std in data %}
        <tr>
            <td>{{std.roll_no}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>{{std.email}}</td>
            <td>{{std.phn}}</td>
            <td>
                <a href="edit_std/{{std.pk}}">edit</a>
                <a href="">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>