<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="pro_id" id="" placeholder="pro_id" value="{{data.pro_id}}">
        <input type="text" name="name" id="" placeholder="name" value="{{data.name}}">
        <input type="number" name="price" id="" placeholder="price" value="{{data.price}}">
        <input type="number" name="offer_price" id="" placeholder="offer_price" value="{{data.offer_price}}">
        <img src="{{data.img.url}}" alt="" style="width: 400px; height: 400px;">
        <input type="file" name="img" id="" value="{{data.img}}">
        <input type="submit" value="update">
    </form>
</body>
</html>